/*body*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    
body {
    background-color: #003051;
}

/*header*/
header .LogoPrincipal {
    width: 100%;
}

.navbar {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: 0;
}

.ms-auto{
    width: 100%;
}

@media (max-width: 991.98px) {
    .navbar.bg-light {
    background-color: #FACD01 !important;
    }
}


@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
header nav .nav-item{
    width: 100%;
    font-family: 'Patua One', cursive;
    font-weight: bold;
    background-color: #FACD01;
    font-size: 13px;
}




header nav ul li a{
    color: #003051;
    text-decoration: none;
    text-align: center;
}


@media (max-width: 576px) {
    header nav .nav-item{
        font-size: 10px;
    }
}


/*main*/
main .TextoUno{
    color: white;
    text-align: center;
    font-size: 20px;
    margin: 0;
    padding: 10px;
}

@media (max-width: 576px) {
    main .TextoUno{
        font-size: 13px;
    }
}

main .GrupoRwc{
    display: flex;
    align-items: center;
    margin-left: 100px;
}

main section p{
    color: white;
    font-size: 40px;
    margin: 0 50px;
    line-height: 50px;
}
main .TextoFondo{
    color: white;
    font-size: 20px;
    background-color: red;
    font-style: italic;
    text-align: center;
    margin: 0 750px;
}
main .PumasStore{
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: 5px;
}
main .PumasStore img{
    width: 240px;
    height: 240px;
    border-radius: 10px;
    object-fit: cover;
}

main .PumasStore figcaption{
    color: white;
    text-align: center;
}

main .Contacto{
    text-align: left;
    width: 40%;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;
    background-color: #D9D9D9;
    font-size: 15px;
    font-weight: 700;
    line-height: 30px;
    box-shadow: 0 0 25px black;
}

main input{
    font-size: 20px;
}

@media (max-width: 576px) {
    main .Contacto{
        width: 50%;
        font-size: 12px;
        line-height: 20px;
    }
    main input{
        font-size: 15px;
    }
}



/*footer*/

footer .TextoDos{
    color: white;
    font-size: 30px;
    text-align: center;
}

@media (max-width: 576px) {
    footer .TextoDos {
        font-size: 15px;
        text-align: start;
        margin-bottom: 5px;
    }
}


footer .Sponsors{
    padding: 20px;
    width: 100%;
}

footer .row{
    --bs-gutter-x: 0;
}



footer .LogosRedes img{
    width: 30px;
    margin: 10px;
}

@media (max-width: 576px) {
    footer .LogosRedes img{
        width: 20px;
    }
}

.LogosRedes a{
    cursor: auto;
}

.LogosRedes img{
    cursor: pointer;
}


footer .Derechos{
    color: white;
    text-align: right;
    margin-right: 40px;
    font-size: 15px;
}

@media (max-width: 576px) {
    footer .Derechos{
        font-size: 10px;
    }
}
