@import url('https://fonts.googleapis.com/css2?family=Patua+One&display=swap');
/*header*/
header{
    .LogoPrincipal {
        object-fit: cover;
        height: 130px;
        margin-left: 150px;
        @media (max-width: 576px){
            height: 100px;
            margin-left: 20px;
            }
    }
    .navbar{
        --bs-navbar-padding-x: 0;
        --bs-navbar-padding-y: 0;
        --bs-navbar-toggler-focus-width: 0;
    }
    .navbar-toggler-icon {
        background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
    }
    .ms-auto{
    width: 70%;
    @media (max-width: 576px){
        width: 100%;
    }
    }
    .nav-item{
    width: 100%;
    font-family: 'Patua One', cursive;
    font-weight:500;
    font-size: 18px;
    }
    @media (max-width: 576px) {
    .nav-item{
    font-size: 14px;
    }
    }
    .navbar-nav{
        text-align: center;
    }
    nav{
        ul{
            li{
                a:hover{
                    @extend .animatePrin;
                }
            }
        }
    }
} 