/*main*/

main{
    .TextoUno{
        @extend .textoPrin;
    }
    .TextoRWC{
            @extend .RWCtext;
        }
    .GrupoRwc{
        img{
        @extend .ImgRWC;
            }
        }                
    .TextoFondo{
    color: white;
    font-size: 20px;
    background-color: red;
    font-style: italic;
    text-align: center;
    }
    
    @media (max-width: 576px){
        .TextoFondo{
            font-size: 13px;
        }
    }
    .TextoTres{
        @include texto-index;
    }    
    .img-prop{
        width: 100%;
        height: 250px;
        border-radius: 10px;
        object-fit: cover;
    }
    .PumasStore:hover{
        @extend .animatePrin;
    }
    .img-jug:hover{
        @extend .img-general;
        @extend .animatePrin;
    }
    .img-jug{
        img{
            width: 100%;
        }
    }
    
    .row{
        margin-right: 0;
        margin-left: 0;
    }
    figcaption{
        @include texto-sub-img;
    }
    @media (max-width: 576px) {
        .img-prop{
            width: 100%;
            height: auto;
        }
    }
    .Contacto{
        @include estilo-contacto;
    }
    .Mapa{
        width: 100%;
        height: 97%;
        margin: 10px auto;
        @media (max-width: 576px){
            width: 90%;
            height: auto;
            display: flex;
            justify-content: center;
            margin-top: 25px;
        }
    }
    .VideoYT{
        width: 100%;
        height: 350px;
        @media (max-width: 576px){
            height: 250px;
        }
    }    
    .ImgNico {
        @extend .IMGnico-juan;
    }
    
    .ImgJuan{
        @extend .IMGnico-juan;
    }
    .ImgPichot{
        object-fit: cover;
        width: 100%;
        height: 416px;
        @media (max-width: 576px){
            height: auto;
        }
    }
    .ImgHern{
        width: 100%;
    }
}